<div class="container-fluid mt-5 about-style" id="aboutid"> 
        <div class="row">
          <div class="col-md-10 col-12 mx-auto">
            <h1 class="text-center main-heading">About Us</h1>
            <p class="text-center sub-heading">make vlog and content with us</p>
{{!-- md -> medium device 12 shows space mp-mobile --}}
           <div class="row">
            <div class="col-md-6 col-12 hero-text order-md-1 order-0">
            <figure>
                <img src="content.webp" alt="herosection_image">
                </figure>
            </div>
           
            {{!-- hero text order(class) order(property) --}}
           
           {{!-- right side --}}
            <div class="col-md-6 col-12 hero-text order-md-0 order-1 d-flex justify-content-center align-items-start flex-column">
            <h1>We are the Professional content-creator</h1>
            <p>making vlog,want content <span class="bold-style">Mahi Creation</span>
            ,in just one or two days then don't need to worry.We are dedicated to giving you the fab work,with the focus our best customer service and uniqueness<p>
            <button class="btn-style btn-primary">register</button>
           </div>
        
        </div>
      </div>
    <div>
</div>