<div class="container-fluid- mt-5 service-style" id="serviceid"> 
        <div class="row">
          <div class="col-md-10 col-12 mx-auto">
            <h1 class="text-center main-heading">Our Services</h1>
            <h1 class="text-center sub-heading">grow your content with us</h1>
{{!-- md -> medium device 12 shows space mp-mobile --}}
           <div class="row">
            <div class="col-md-4">
            <div class="box">
                <div class="our-service payment">
                    <div class="icon">
                        <img src="payment1.png" alt="payment">
                    </div>
                    <h1>payment</h1>
                    <p>pay later is available</p>
                </div>
            </div>
            </div>
            <div class="col-md-4">
            <div class="box">
                <div class="our-service query">
                    <div class="icon">
                        <img src="query.png" alt="query">
                    </div>
                    <h1>query</h1>
                    <p>if any query, feel free to ask</p>
                </div>
            </div>
            </div>
            <div class="col-md-4">
            <div class="box">
                <div class="our-service delivery">
                    <div class="icon">
                        <img src="icons8-quick-64.png" alt="fast delivery">
                    </div>
                    <h1>delivery</h1>
                    <p>Fast delivery, delivery in just one day</p>
                </div>
            </div>
            </div>
             <div class="col-md-4">
            <div class="box">
                <div class="our-service Privacy">
                    <div class="icon">
                        <img src="privacy icon.png" alt="privacy">
                    </div>
                    <h1>Privacy</h1>
                    <p>Your Privacy in our hand, end-end encrypted</p>
                </div>
            </div>
            </div>
             <div class="col-md-4">
            <div class="box">
                <div class="our-service offer">
                    <div class="icon">
                        <img src="icon.gif" alt="offer">
                    </div>
                    <h1>offer</h1>
                    <p>Offer is available for first-user</p>
                </div>
            </div>
            </div>
             <div class="col-md-4">
            <div class="box">
                <div class="our-service Whatsapp">
                    <div class="icon">
                        <img src="icons8-whatsapp.gif" alt="whatspp">
                    </div>
                    <h1>Whatsapp</h1>
                    <p>join in whatspp for more detailed</p>
                </div>
            </div>
            </div>
             
            
             
           </div>
        </div>
    </div>
</div>